@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  /* background-color: black; */
  padding: 0;
  margin: 0;
  font-family: "poppins";
}

.b {
  background-color: black;
}

.header {
  z-index: 100;
}

.logo {
  height: 48px;
}

.nav-item a:hover {
  color: #ff006a !important;
}

.nav > a:hover {
  color: #ff006a !important;
}

.hamburger {
  border: none !important;
  height: 24px;
  padding: none;
}

.mob {
  height: 700px;
}

.hero-heading {
  font-weight: 700;
  font-size: 70px;
  background-image: linear-gradient(90deg, #a734bd 0%, #ff006a 100%);
  color: transparent;
  background-clip: text;
}

.hero-para {
  color: rgba(219, 219, 219, 1);
  font-size: 16px;
}

/* USER-SECTION */
.user-section {
  background-color: rgba(255, 255, 255, 0.101);
  border: 1px solid rgba(128, 128, 128, 0.262);
  border-radius: 36px;
  position: relative;
  z-index: 3000;
}

.heading {
  font-weight: 700;
  font-size: 60px;
  background-image: linear-gradient(90deg, #a734bd 0%, #ff006a 100%);
  color: transparent;
  background-clip: text;
  /* word-wrap: break-word; */
  overflow-wrap: break-word;
}

/* DOWN-ABOUT */
.down-about {
  margin-top: 250px;
}

.down-about-2 {
  position: relative;
  z-index: 4000;
}

.down-para1 {
  font-size: 28px;
  margin-top: 35px;
}

.down-para2 {
  font-size: 16px;
  margin-top: 30px;
}

.bodered1 {
  background-color: rgba(255, 255, 255, 0.101);
  border: 1px solid rgba(128, 128, 128, 0.262);
  border-bottom-left-radius: 36px;
  border-top-left-radius: 36px;
}
.bodered2 {
  background-color: rgba(255, 255, 255, 0.101);
  border: 1px solid rgba(128, 128, 128, 0.262);
}

.bodered3 {
  background-color: rgba(255, 255, 255, 0.101);
  border: 1px solid rgba(128, 128, 128, 0.262);
  border-bottom-right-radius: 36px;
  border-top-right-radius: 36px;
}

.down-about-row {
  margin-top: 100px;
}

/* GET-DOWN-PARA */
.get-down-para {
  font-size: 38px;
  font-weight: 600;
}

.get-down {
  margin-top: 200px;
}

.get-down > img {
  height: 460px;
  width: 680px;
}

.p2 {
  color: rgb(181, 180, 180);
}

/* REVIEWS */

.reviews {
  height: 600px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.reviews > img {
  margin-bottom: 50px;
}

/* DOWNOAD-LOGO */

.down-button > a > img {
  height: 86px;
}

.down-button {
  margin-top: 120px !important;
}

/* PRESS */

.press {
  gap: 100px;
  padding: 60px;
}

/* FOOTER */

.rights {
  margin-top: 70px;
}

.nav > a {
  text-decoration: none;
  color: white;
}

/* GRADIANTS */

.imgg {
  position: absolute;
  top: -15px;
}

.imgg > img {
  height: 752px;
  top: -15px;
}

.imgg2 {
  top: 1300px;
  opacity: 50%;
}

.imgg3 {
  top: 3700px;
  opacity: 50%;
}
.imgg4 {
  top: 6000px;
  opacity: 50%;
}

/* RIGHT-GRADIANT */

.grad-right {
  position: absolute;
  right: 0;
}

.grad-right2 {
  position: absolute;
  right: 0;
  top: 1700px;
}

.grad-right3 {
  position: absolute;
  right: 0;
  top: 4500px;
}

.grad-right4 {
  position: absolute;
  right: 0;
  bottom: -4573px;
}

/* ====================================================================================================== */

/* FAQ-PAGE-CSS */


.faq-head{
  margin-top: 150px;
}

.faq-heading {
  font-size: 70px;
}

.faq {
  background-color: rgba(255, 255, 255, 0.101) !important;
  border: 1px solid rgba(128, 128, 128, 0.262) !important;
  color: rgba(219, 219, 219, 1);
  font-size: 16px !important;
  border-radius: 30px !important;
  margin-top: 15px;
}

.faq>h2>button{
  font-weight: 600;
  color: white !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
}

.grad-2{
  right: 0;
}

.grad-3{
  top: 500px;
}

.grad-4{
  top: 1000px;
  right: 0;
}

